@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Adefemi Micheal Page</h1>
    <p>Learn about <a href="https://github.com/adefemi171">My Github Repo</a>.</p>
</div>
